-
  var contacts = [
    ['skype', 'skype_kdn'],
    ['envelope', 'astahov@gmail.com'],
    ['phone', '+7 978 123 90 09'],
    ['map_marker', 'Новосибирск'],
  ]
section.section.map
  .google-map
  .map-contacts
    .contacts
      .contacts__title
        .block-subtitle Контакты
      ul.contacts__list
        each contact in contacts
          li.contact__item
            .contacts__row
              .contacts__img
                svg(class="contacts__icon" width="25" height="25")
                  use(xlink:href=`images/icons/sprite.svg#${contact[0]}`)
              .contacts__text #{contact[1]}
