html, body{
  height: 100%;
  font-family: 'roboto-r';
}

a{
  text-decoration: none;
}

body{
  margin: 0;
  padding: 0;
  line-height: 1.42;
}

*, *::before, *::after{
  box-sizing: border-box;
}


ul{
  padding: 0;
  margin: 0;
  list-style: none;
}


.wraper{
  min-height: 100%;
  overflow: hidden;
  width: 100%;
}

.maincontainer{
  min-height: 100%;
  height:auto!important;
  overflow:hidden;
}

.maincontent{
  min-height: 100%;
  height:auto!important;
  overflow:hidden;
}

.container{
  display:flex;
  flex-direction: row;
}

.section{
  position: relative;
  height: 100vh;
}

.title, .subtitle{
  &:after{
    vertical-align: super;
    content:'';
    display:inline-block;
    margin-left: 20px;
    width: 23px;
    height: 5px;
    background: rgba(#455a64, 0.2);
  }
  &:before{
    vertical-align: super;
    content:'';
    display:inline-block;
    margin-right: 20px;
    width: 23px;
    height: 5px;
    background: rgba(#455a64, 0.2);
  }
}