html, body{
  height: 100%;
}

a{
  text-decoration: none;
}

body{
  margin: 0;
  padding: 0;
  line-height: 1.42;
}

*, *::before, *::after{
  box-sizing: border-box;
}


ul{
  padding: 0;
  margin: 0;
  list-style: none;
}


.wraper{
  min-height: 100%;
  overflow: hidden;
  width: 100%;
}

.maincontainer{
  min-height: 100%;
  height:auto!important;
  overflow:hidden;
}

.container{
  display:flex;
  flex-direction: row;
}