@font-face {
  font-family: 'roboto-b';
  src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
       url('../fonts/roboto-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-bi';
  src: url('../fonts/roboto-bolditalic-webfont.woff2') format('woff2'),
       url('../fonts/roboto-bolditalic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'roboto-i';
  src: url('../fonts/roboto-italic-webfont.woff2') format('woff2'),
       url('../fonts/roboto-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'roboto-l';
  src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
       url('../fonts/roboto-light-webfont.woff') format('woff');
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-li';
  src: url('../fonts/roboto-lightitalic-webfont.woff2') format('woff2'),
       url('../fonts/roboto-lightitalic-webfont.woff') format('woff');
  font-weight: light;
  font-style: italic;
}

@font-face {
  font-family: 'roboto-m';
  src: url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
       url('../fonts/roboto-medium-webfont.woff') format('woff');
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-mi';
  src: url('../fonts/roboto-mediumitalic-webfont.woff2') format('woff2'),
       url('../fonts/roboto-mediumitalic-webfont.woff') format('woff');
  font-weight: medium;
  font-style: italic;
}

@font-face {
  font-family: 'roboto-r';
  src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('../fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: regular;
  font-style: normal;
}

@font-face {
  font-family: 'bernier_distres';
  src: url('../fonts/bernierdistressed-regular-webfont.woff2') format('woff2'),
       url('../fonts/bernierdistressed-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'bernier_regular';
  src: url('../fonts/bernierregular-regular-webfont.woff2') format('woff2'),
       url('../fonts/bernierregular-regular-webfont.woff') format('woff');
  font-weight: regular;
  font-style: normal;
}

@font-face {
  font-family: 'bernier_shaderegular';
  src: url('../fonts/berniershade-regular-webfont.woff2') format('woff2'),
       url('../fonts/berniershade-regular-webfont.woff') format('woff');
  font-weight: regular;
  font-style: normal;
}