footer.footer
  .container
    .footer__row
      .footer__col.footer__col-left
        +menulist("footer-top__nav",["Мои работы", "Обо мне", "Блог", "Авторизация"])
      .footer__col.footer__col-right
        +social("footer-social", 55, 45, ["vk_round", "github_round", "in_round"], 2)
    .footer_row
      .footer__col.footer__col-left
        .footer__text
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor et optio animi iure sit asperiores eaque nihil tempore repudiandae officia minus autem, hic eos. Deleniti optio repellendus tenetur vel. Aspernatur
      .footer__col.footer__col-right
        .footer__text
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor et optio animi iure sit asperiores eaque nihil tempore repudiandae officia minus autem, hic eos. Deleniti optio repellendus tenetur vel. Aspernatur