header.header
  .container
    .header-bg
    .header__left
      +social("social", 55, 45, ["images/icons/sprite.svg#vk", "images/icons/sprite.svg#github", "images/icons/sprite.svg#in"], 2)
    .header__right
      .header__btn
        a(href="#" class="header-menu")
          .header-menu__bars


