section.section.my-works
  
  .my-works__title  Мои работы
  .my-works__slaider
    .my-works__left
      .my-works__left-title Сайт школы онлайн образования
      .my-works__left-desc HTML, CSS, JAVASCRIPT
      a(class="my-works__left-link" href="#")
        .my-works__left-img
          svg(class="my-works__left-icon" width="25" height="25")
            user(xlink:href='images/icon/sprite.svg#link')
    .my-works__right
      .my-works__right-slader
        .slader__main
          img(src="#", alt="main slader")
        .slader__other
          .slader__left
            img(src="", alt="left slader")
          .slader__right
            img(src="", alt="right slader")

    