.block__triangle
  svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class='triangle')
    polygon(class='triangle__left' points="0,0   0,86   500.8,86   500.8,75.5")
    polygon(class = "triangle__right" points="1000,0   1000,86   500,86   500,75.5")