extends ../template

block content
  .maincontent
    header.header
      include ../common/header
    .article
      .container
        
        include ../common/sidebar

        .content

        include ../common/blog-content
        
