extends ../template

block content
  .maincontent
    header.header
      include ../common/blog/blog-header
    .article
    
      .content   
        include ../common/blog/blog-sidebar
      
        include ../common/blog/blog-content
  include ../common/footer

