extends ../template

block content
  .parallax
    - for (var i = 10; i > 0; i--)
        .parallax__layer
          img(src=`images/content/Layer ${i}.png`, alt="parallax" class=`parallax__image${i}`).parallax__image
  .autoriz
    a(href="#").autoriz__link Авторизация
  .welcome
    .welcome-user
      .welcome-user__picture(style="background: url(../images/content/user.jpg)")
        img(class=".welcome-user__picture-img" src="../images/content/user.jpg")
      .welcome-user__description
        .welcome-user__name Владимир Астахов
        .welcome-user__data Личный сайт веб разработчика
      +social("welcome-social", 34, 16, ["vk", "github", "in"], 2)
    +menulist('welcome-btn',['Мои работы', "Обо мне", "Блог"])