extends ../template

block variables
  - var title = "Добро пожаловать"

block content
  div.log-in
    h1.log-in__title Авторизация
    form
      label.log-in__email-text(for="email" ) email
      input.log-in__email-input(name="email" id="email")
      label.log-in__password-text(for="password") password
      input.log-in__password-input(name="password" id="password")
      button.log-in__btn Войти