extends ../template

block content
  .maincontent
    include ../common/hero
    include ../common/myworks-content
    include ../common/myworks-sayaboutme
    include ../common/overlay
    include ../common/script-template

  include ../common/footer

