.about{
  display: flex;
  flex-direction: row;
  margin-top: -8.5%;
}

.triangle__fill_gray{
  fill:  #efeee9;
}

.triangle__fill_darkbeige{
  fill: #eeebdf;
}

.about__left, .about__right{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.left-desc{
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color:  #efeee9;
}

.right-desc{
  display: flex;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color:  #eeebdf;
}

.triangle-right, .triangle-left{
  position: relative;
  display: block;
}

.user-description__avatar{
  height: 390px;
  width: 444px;
}

.about__left-content{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 430px;
}

.about__right-content{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 10%;
}

.about__right-text{
  margin-left: 5%;
}


.map{
  background: url('../images/content/map.jpg');
  background-position: center, center;
  background-size: cover;
  background-repeat: no-repeat;
}


.map-contacts{
  background-color: rgba(#fff, .85);
  width: 382px;
  height: 292px;
  display: inline-block;
  top: 50%;
  left: 50%;
  position:absolute;
  border-radius: 3px;
  transform: translate(-50%, -50%);
}

.contacts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.contacts__list{
  margin-top: 40px;
}

.contacts__icon{
  fill: #00bea4;
}

.contacts__row{
  display: flex;
  flex-direction: row;
}

.contacts__img{
  margin-right: 10px;
}

.user-description{
  display: flex;
  align-items: center;
  flex-direction: column;
}