.about{
  display: flex;
  flex-direction: row;
  margin-top: -8.5%;
}

.triangle__fill_gray{
  fill:  #efeee9;
}

.triangle__fill_darkbeige{
  fill: #eeebdf;
}

.about__left, .about__right{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.left-desc{
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color:  #efeee9;
}

.right-desc{
  display: flex;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color:  #eeebdf;
}

.triangle-right, .triangle-left{
  position: relative;
  display: block;
}

.user-description__avatar{
  height: 390px;
  width: 444px;
}

.about__left-content{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 430px;
}

.about__right-content{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 10%;
}

.about__left-title{
  text-align: center;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}

.about__bg-title{
  top: 30%;
  left: 50%;
  height: auto;
  transform: translate(-50%, -50%);
  position: absolute;
  fill: rgba(#6d7070, .07);
}

.block-title{
  font-family: 'bernier_regular';
  color: #455a64;
  font-size: 63px;
}

.block-subtitle{
  text-align: center;
  font-family: 'bernier_regular';
  color: #455a64;
  font-size: 35px;
}

.about__right-text{
  margin-left: 5%;
}


.map{
  background: url('../images/content/map.jpg');
  background-position: center, center;
  background-size: cover;
  background-repeat: no-repeat;
}


.map-contacts{
  background-color: rgba(#fff, .85);
  width: 382px;
  height: 292px;
  display: inline-block;
  top: 50%;
  left: 50%;
  position:absolute;
  border-radius: 3px;
  transform: translate(-50%, -50%);
}

.contacts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 33px;
}

.contacts__list{
  margin-top: 30px;
}

.contacts__icon{
  fill: #00bea4;
}

.contact__item{
  margin-bottom: 15px;
}
.contacts__row{
  display: flex;
  flex-direction: row;
}

.contacts__img{
  margin-right: 10px;
}

.contacts__text{
  font-family: 'roboto-m';
  font-size: 16px;
  color: #455a64;
}

.user-description{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.user-description__title{
  width: 100%;
  text-align: center;
  font-family: 'bernier_regular';
  color: #455a64;
  font-size: 35px;
}

.skills-row__title{
  font-size: 28px;
  font-family: 'roboto-m';
  color: #455a64;
  margin-bottom: 19px;
  margin-top: 40px;
}

.skill__title{
  font-size: 13px;
  font-family: 'roboto-m';
  color: #00bea4;
  text-align: center;
}