.block__triangle{
  position: absolute;
  top: 292px;
  bottom: 0;
  left:0;
  right: 0;
  width: 100%;
}

.triangle{
  display: block;
}

.triangle__left{
  fill: #fff;
}

.triangle__right{
  fill: #fff;
}
