.article{
  margin-top: -8%;
}

.blog__triangle-main{
  position:relative;
  fill: #fff;
}

.social__item{
  display: inline-block;
}

.footer-blog{
  margin-top: 0px;
}

.social__icon{
  fill: white;
  opacity: .5;
  &:hover{
    opacity: 1;
  }
}

.hamburger-menu__icon{
  fill: white;
}

.hero__user{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.sidebar{
  display:flex;
  justify-content: center;
  margin-left: 45px;
  width: 30%;
}

.sidebar__list{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  text-align: right;
  width: 260px;
  height: 42px;
  padding-right: 18px;
  margin-bottom: 28px;
  &:hover{
    border-right: solid 3px #009688;
    .sidebar__content{
      color: #009688;
    }
  }
}

.sidebar__list-active{
  border-right: solid 3px #009688;
  .sidebar__content{
    color: #009688;
  }
}

.sidebar__content{
  color: #000;
}

.blog{
  margin-left: 100px;
  margin-right: 100px;
  height: 100%;
}

.content{
  display:flex;
  width: 100%;
}

.section__date-publication{
  color: #00bfa5;
}

.section__title, .section__date-publication{
  margin-bottom: 30px;
}

.section__list{
  border-top: solid 5px #f1f1f3;
  .section__title{
    padding-top: 70px;
  }
  &:first-child{
    border: none;
    .section__title{
      padding: 0;
    }
  }
}


.section__text{
  margin-bottom: 70px;
}
