.skill{
  position: relative;
  display: inline-block;
  width: 110px;
  height: 110px;
  margin-right: 37px;
}

.skill__circle{
  fill: none;
  display: block;
  stroke-width: 20;
}

.skills-row__list{
  display: flex;
  flex-direction: row;
}

.skill__circle-first{
  stroke: #dfdcd5;
}

.skill__circle-second{
  stroke: #16c2aa;
  stroke-dasharray: .0010 282.6;
  transition: all 1s;
}

.skill__title{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.skill__circle-active .circle-HTML5 {
  stroke-dasharray: 240.21 282.6;
}

.skill__circle-active .circle-CSS3{
  stroke-dasharray: 240.21 282.6;
}

.skill__circle-active .circle-JavaScript{
  stroke-dasharray: 240.21 282.6;
}

.skill__circle-active .circle-PHP{
  stroke-dasharray: 240.21 282.6;
}

.skill__circle-active .circle-mySQL{
  stroke-dasharray: 240.21 282.6;
}

.skill__circle-active .circle-Node.js{
  stroke-dasharray: 240.21 282.6;
}

.skill__circle-active .circle-Git{
  stroke-dasharray: 240.21 282.6;
}

.skill__circle-active .circle-Gulp{
  stroke-dasharray: 240.21 282.6;
}

.skill__circle-active .circle-Bower{
  stroke-dasharray: 240.21 282.6;
}