.hero{
  position: relative;
  background-image: url('../images/bg/hero-bg.jpg');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 396px;
}

.container__hero{
  padding-top: 28px;
  margin: 0 auto;
  max-width: 1180px;
  display:flex;
  justify-content: space-between;
  align-items:stretch;
}

.user__description{
  color: #fff;
  text-align: center;
}

.social__item{
  display: inline-block;
}

.social__icon{
  fill: white;
  opacity: .5;
  &:hover{
    opacity: 1;
  }
}

.hamburger-menu__icon{
  fill: white;
}

.hero__user{
  position:absolute;
  top: 50%;
  left: 45%;
}

.sidebar{
  width: 256px; 
}

.sidebar__list{
  display:flex;
  flex-direction: column;
  flex: 1;
  &:hover{
    border-right: solid 6px red;
    .sidebar__content{
      color:greenyellow;
    }
  }
}

.sidebar__content{
  color: #000;
}

