.my-works{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: -8%;
}

.my-works__title{
  position:relative;
  height: 19%;
  width: 100%;
  background: #faf8f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-works__title-text{
  font-family: 'bernier_regular';
  color: #455a64;
  font-size: 63px;
}

.my-works__left-title{
  font-family: 'bernier_regular';
  color: #455a64;
  font-size: 35px;
}

.my-works__slaider{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.my-works__left, .my-works__right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.my-works__left{
  background: #f0efe9;
}

.my-works__right{
  background: #efebe0;
}

.my-works__right-slaider{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
}

.slaider__img-main{
  max-width: 80%;
  height: auto;
}

.slaider__main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.slaider__other{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 224px;
}

.slaider__right{
  position:relative;
  width: 50%;
  &:before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(#888372, .5);
    z-index: 10;
  }
  &:after{
    content:"";
    position: absolute;
    top:50%;
    left: 50%;
    background-image: url('../images/content/portf_arrow_up.svg');
    width: 44px;
    height: 25px;
    z-index: 20;
    transform: translate(-50%, -50%);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.slaider__left{
  position:relative;
  width: 50%;
    // &:before{
    //   content:"";
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   bottom: 0;
    //   right: 0;
    //   background-color: rgba(#888372, .5);
    //   z-index: 10;
    // }
    // &:after{
    //   content:"";
    //   position: absolute;
    //   top:50%;
    //   left: 50%;
    //   background-image: url('../images/content/portf_arrow_down.svg');
    //   width: 45px;
    //   height: 25px;
    //   z-index: 20;
    //   transform: translate(-50%, -50%);
    //   background-position: center center;
    //   background-size: cover;
    //   background-repeat: no-repeat;

  // }
}

// .slaider__img-left, .slaider__img-right{
//   display: block;
//   max-width: 90%;
//   max-height: 100%;
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   margin: auto;
// }


.slaider__img{
  width: 80%;
  height: 100%;
}

.slaider__list{
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.slaider__item{
  position: absolute;
  top: -100%;
  width: 100%;
  height: 100%;
  .slaider__item-active{
    top: 0%;
  }
  
}


.triangle__fill_lightbeige{
  fill: #faf8f0;
}

.my-works__triangle{
  width: 100%;
}

.triangle-main{
  position: relative;
  display: block;
}

.my-works__title-img{
  fill: rgba(#6d7070, .07);
  top: 40%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.my-works__left-desc{
  text-align: center;
  width: 70%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-top: 40px;
}

.main-btn{
  height: 45px;
  background: #26bbaa;
  color: #fff;
  border-radius: 5px;
}

.my-works__left-link{
  margin-top: 40px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.my-works__left-img{
  margin-left: 20px;
  margin-right: 10px;
}

.my-works__left-icon{
  fill: #fff;
}

.my-works__left-text{
  vertical-align: middle;
}

.say-my{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 1200px;
}

.say-my__reviews-item{
  display: flex;
  flex-direction: row;
}

.say-my__title-text{
  font-family: 'bernier_regular';
  color: #455a64;
  font-size: 63px;
  
}

.say-my__title{
  position:relative;
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.say-my__title-img{
  fill: rgba(#6d7070, .07);
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.say-my__reviews{
  width: 758px;
  margin-bottom: 65px;
}

.say-my__feedback{
  width: 400px;
  height: 400px;
}

.feedback__form{
  overflow: hidden;
  border-radius: 9px; 
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 50%;
  max-width: 400px;
  max-height: 450px;
}

.review__photo-img0, .review__photo-img1{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}


.say-my__background-img{
  width: 100%;
  display: block;
  height: auto;
}

.say-my__background{
  position: absolute; 
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: -10;
}

.feedback__form-blur{ 
  position: absolute;
  width: 100%; 
  height: 95%;
  background-image: url('../images/bg/myworks-bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  filter: blur(10px);
  flex-direction: column;
  z-index: 10;
}

.feedback__form-content{
  display: flex;
  flex-direction: column;
  align-items: center; 
 // background: rgba(#fff, .6);
  width: 100%;
  position: absolute;
  z-index: 20;
}

.feedback__btn{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.review__photo, .review__user{
  vertical-align: middle;
  display: inline-block;
}

.review__user{
  color: #26bbaa;
}

.review__user-name{
  font-family: 'roboto-b';  
}
.review__photo{
  margin-right: 20px;
}

.review__list{
  width: 50%;
  margin-right: 38px;
  &:last-child{
    margin:0;
  }
}


.form__btn{
  width: 50%;
  border: none;
  height: 45px;
  background: #26bbaa;
  color: #fff;
  cursor: pointer;
  font-family: 'roboto-m';
  font-size: 16px;
  transition: .4s;
  &:hover{
    background: #009688;
  }
}

.form__btn-submit{
  border-bottom-left-radius: 5px;
}

.form__btn-reset{
  border-bottom-right-radius: 5px;
}

.form__input{
  width: 100%;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  padding: 0 20px;
  &:focus{
    outline: none;
    border: 2px solid $greenlight;
    border-radius: 5px;
  }
}

.group{
  width: 85%;
  position: relative;
}

.form__name, .form__email{
  height: 40px;
}

.form__your-message{
  height: 142px;
  resize: none;
}

.feedback__form-title{
  text-align: center;
  font-family: 'bernier_regular';
  color: #455a64;
  font-size: 35px;
}

.error-block{
  position: absolute;
  background-color:#e44845;
  color: #fff;
  font-family: 'roboto-m';
  font-size: 13px;
  transition: .5s;
}

label.error{
  position: absolute;
  bottom: 0%;
  left: 5%;
  transition: .1s;
  background: #e44845;
  padding: 5px;
  color: #fff;
  font-size: 10px;
  border: 1px solid #e44845;
  z-index: 10;
}