footer.footer-blog.footer
  .footer__row
    .container
      .footer__col.footer__col-left
        +menulist("menu",["Мои работы", "Обо мне", "Блог", "Авторизация"])
      .footer__col.footer__col-right
        +social("footer-social", 37, 37, ["vk_round", "github_round", "in_round"], 2)
  .footer__row
    .container
      .footer__col.footer__col-left
        .footer__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor et optio animi iure sit asperiores eaque
      .footer__col.footer__col-right
        .footer__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor et optio animi iure sit asperiores eaque