aside.sidebar
  +sidebar("sidebar", ["Самое важное в SASS",
   "Приемы в вёрстке, без которых не обходится ни один сайт",
   "Самый необходимый набор Gulp плагинов",
   "Почему я выбрал Jade"], 1)




