header.header.header__blog
  .container__header
    .header__social
        +social("social", 34, 18, ["vk", "github", "in"], 2)
    .header-title
      .section-title
        img(src="../images/content/blog_header.png", alt="background" class="section-hero__img")
    .user.header__user
      .user__picture(style="background: url(../images/content/user.jpg)")
        img(class="user__picture-img" src="../images/content/user.jpg")
      .user__description
        .user__page Блог
        .user__data Статьи, которые я написал
    .header__menu
      .hamburger-menu
        a(href="#" class="hamburger-menu__link")
          svg(class="hamburger-menu__icon" width="33" height="33")
            use(xlink:href="images/icons/sprite.svg#hamburger")  
